.body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  animation: load 4s linear infinite;
}
.loader::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  box-shadow: 0 0 2px #fff5;
  border-radius: 50%;
}
.span {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  font-weight: bolder;
  letter-spacing: 1px;
  animation: color 4s linear infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 3px 2px rgb(2, 220, 220);
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0 3px 2px rgb(0, 255, 155);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 3px 2px rgb(238, 2, 206);
  }
}
@keyframes color {
  0% {
    color: rgb(2, 220, 220);
  }
  50% {
    color: rgb(0, 255, 155);
  }
  100% {
    color: rgb(238, 2, 206);
  }
}
